@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

:root {
    --ffamily--roboto: 'Roboto', sans-serif;
    --ffamily--poppins: 'Poppins', sans-serif;
    --ffamily--rubik: 'Rubik', sans-serif;
    --mainColor: #40A3F8;

}
img {
    max-width: 100%;
}

/*==================================== header  ========================*/
header {
    background: #E5E5E5;
}
/*------------------- Menubar  --------------------*/
.logo {
    font-family: var(--ffamily--rubik);
    font-style: normal;
    font-weight: 500;
    font-size: 31.635px;
    letter-spacing: 1px;
    color: var(--mainColor);
}
.menubar ul li{
   /* display: flex;
   align-items: center;
   justify-content: center; */
   font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.menubar ul li a:hover {
    color: var(--mainColor);
}

.menu_btn {
    font-family: var(--ffamily--poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 14.997px;
    background: var(--mainColor);
    padding: 6px 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

/*------------------- Hero banner  --------------------*/
.banner_content h2 {
    font-family: var(--ffamily--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #3E3E3E;
}
.banner_content span {
    color: var(--mainColor);
}
.banner_content p {
    font-family: var(--ffamily--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(117, 117, 117, 0.46);
}
.banner_btn {
    display: flex;
    gap: 20px;
}
.banner_btn a {
    border: 1px solid var(--mainColor);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.997px;
    padding: 5px 20px;
    transition: .4s;
}
.banner_btn a:hover {
    background:  var(--mainColor);
    color: #FFFFFF;
}

/*==================================== main  ========================*/
main {
    font-family: var(--ffamily--roboto);
}
/*------------------- solution section  --------------------*/
.solution_title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    /* line-height: 70px; */
    color: #3E3E3E;
}
.solution_service h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 32px; */
    color: #3D3D3F;
}
.solution_service p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 20px; */
    text-align: center;
    color: #919191;

}
/*------------------- Quality service section  --------------------*/
.quality_service {
    margin-bottom: 100px;
}
.quality_content h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
}
.quality_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
}

.dragDrop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
}
.dragDrop p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
}

.quality_content .menu_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
/*------------------- Service section  --------------------*/
.service_title {
    text-align: center;
    margin-bottom: 70px;
}
.service_title h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    letter-spacing: 0.02em;
    color: #3D3D3F;
    margin-bottom: 24px;
    text-align: center;
}
.service_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(61, 61, 63, 0.7);
}

.service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.service_box img {
    width: 83.08px;
    height: 72px;
}
.service_box h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 30px; */
    text-align: center;
    color: #3D3D3F;
}
.service_box p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 22px; */
    text-align: center;
    color: #999999;
}
